html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'M PLUS 1p', sans-serif;
}

#alertbox {
	width: 100%;
	background-color: #f4b342;
	box-shadow: 0px 5px 30px #666666;
	position: fixed;
	top: -230px;
	transition: top 0.6s;
}

.alertbox--button--container {
	bottom: 0px;
	position: relative;
	display: none;
	margin: auto;
}

#alertbox--button--container--yesno {
	margin: auto;
	width: 100%;
}

#alertbox--button--container--ok {
	margin: auto;
	width: 50%;
}

#alertbox--message {
	width: 100%;
	color: white;
	font-size: 16px;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

#camera, #camera--view, #camera--sensor, #camera--output {
    position: fixed;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#camera--view {
	display: none;
}

#camera--trigger {
    position: fixed;
    bottom: 30px;
    left: 25%;
}

#camera--trigger:disabled {
	background-color: gray;
}

#camera--output {
	display: none;
}

.taken {
    height: 100px!important;
    width: 100px!important;
    transition: all 0.5s ease-in;
    border: solid 3px white;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    top: 20px;
    right: 20px;
    z-index: 2;
	display: none;
}

.button {
	float: left;
	width: 50%;
    background-color: black;
    color: white;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    padding: 15px 20px;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
}